* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Georgia;
}

h2 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2.75rem;
  line-height: 130%;
}

h3 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2.1875rem;
  line-height: 130%;
  letter-spacing: 2.1px;
}

h4 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 115%;
  letter-spacing: 1.17px;
}

h5 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 110%;
  letter-spacing: 0.06em;
}

p {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 160%;
}

.p-s {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 150%;
  color: #b2b2b2;
}

.button_primary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 0px 0px 45px;
  width: 12.94rem;
  height: 3.25rem;
  background: #f1cdb3;
  border-radius: 100px;
  border: 0;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  color: #292929;
  font-size: 1.07rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.button_primary:hover {
  cursor: pointer;
  background: #fddcc4;
}

.button_secondary {
  width: 12.94rem;
  height: 3.25rem;
  background: none;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  color: #292929;
  font-size: 1.07rem;
  line-height: 130%;
  letter-spacing: 0.05em;
}

.button_secondary:hover {
  cursor: pointer;
  background: #fddcc4;
  border: 2px solid #fddcc4;
}

.button_paginator {
  width: 3.25rem;
  height: 3.25rem;
  border: 2px solid #f1cdb3;
  background: none;
  border-radius: 100px;
  font-size: 1.25rem;
  line-height: 115%;
}

.inactive {
  border: 2px solid #cdcdcd;
  color: #cdcdcd;
}

.active-slider {
  background: #f1cdb3;
  border: 2px solid #f1cdb3;
}

.button_paginator.inactive:hover {
  cursor: default;
  background: none;
  border: 2px solid #cdcdcd;
}

.button_paginator:hover {
  cursor: pointer;
  background: #f1cdb3;
  border: 2px solid #f1cdb3;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 16.875rem;
  height: 27.19rem;
  background: #fafafa;
  border-radius: 9px;
}
.card .card_image {
  width: 16.875rem;
}
.card .card_name {
  margin-top: 1.875rem;
  margin-left: 2px;
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.44rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.card .card_name:first-letter {
  text-transform: uppercase;
}
.card .card_button {
  margin-top: 1.88rem;
}
.card .card_button .button_secondary {
  width: 187px;
}

.card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card-icon {
  height: 113px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-icon .card-icon_text {
  margin-top: 30px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  color: #545454;
  letter-spacing: 1.15px;
}
.card-icon .card-icon_text:first-letter {
  text-transform: uppercase;
}

.wrapper {
  max-width: 75rem;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 120px;
}
.header .header_wrapper {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__logo {
  display: flex;
  flex-direction: column;
}
.header .header__logo .header__logo-title {
  color: #545454;
  font-family: Georgia;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  line-height: 110%;
}
.header .header__logo .header__logo-subtitle {
  margin-top: 10px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 110%;
  letter-spacing: 0.085rem;
  color: #292929;
  text-align: end;
}
.header .header__menu {
  width: 27.6875rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.header .header__menu .navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
}
.header .header__menu .navigation__item {
  color: #545454;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 160%;
}
.header .header__menu .navigation__item:hover {
  cursor: pointer;
  color: #292929;
}
.header .header__menu .active {
  color: #292929;
  border-bottom: solid 3px #f1cdb3;
}

.pets {
  background-color: #f6f6f6;
}
.pets .pets__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pets .pets__heading {
  margin: 80px 0px 0px 2px;
  color: #545454;
  width: 25rem;
  display: flex;
  align-items: center;
  text-align: center;
}
.pets .pets__slider {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pets .pets__slider_card {
  margin-top: 30px;
}
.pets .pets__button {
  margin-top: 3.75rem;
  margin-bottom: 6.25rem;
  margin-left: 1px;
  width: 16.3125rem;
}
.pets .pets__slider-controls {
  margin: 60px 0px 100px 0px;
  width: 340px;
  display: flex;
  justify-content: space-between;
}
.pets .pets__slider-controls .pets__slider_long-prev {
  display: flex;
  align-items: center;
}
.pets .pets__slider-controls .pets__slider_prev {
  display: flex;
  align-items: center;
}
.pets .pets__slider-controls .pets__slider_number button {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
}
.pets .pets__slider-controls .pets__slider_next {
  display: flex;
  align-items: center;
}
.pets .pets__slider-controls .pets__slider_long-next {
  display: flex;
  align-items: center;
}

.footer {
  height: 350px;
  background: url(/assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}
.footer .footer__wrapper {
  display: flex;
  height: 350px;
  align-items: center;
  justify-content: space-between;
}
.footer .footer__contacts {
  display: flex;
  flex-direction: column;
  height: 234px;
  width: 279px;
}
.footer .footer__contacts_title {
  color: #ffffff;
}
.footer .footer__contacts_email {
  margin-top: 38px;
  width: 251px;
  color: #f1cdb3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__contacts_phone {
  margin-top: 40px;
  width: 239px;
  display: flex;
  color: #f1cdb3;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__location {
  display: flex;
  flex-direction: column;
  height: 234px;
  width: 303px;
  padding-right: 1px;
}
.footer .footer__location_title {
  width: 279px;
  color: #ffffff;
}
.footer .footer__location_marker {
  width: 302px;
  height: 46px;
  margin-top: 31px;
  display: flex;
  color: #f1cdb3;
  justify-content: spac;
  align-items: center;
  justify-content: space-between;
}
.footer .footer__location_marker h4 {
  width: 260px;
  margin-top: 2px;
}
.footer .footer__image {
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
}

/*# sourceMappingURL=pets.css.map */
