.pets {
  background-color: $color-light-l;
  padding-top: 120px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 1279px) {
    padding: 0 30px;
    padding-top: 120px;
  }

  @media (max-width: 767px) {
    padding: 0 10px;
    padding-top: 120px;
  }

  &__heading {
    margin: 80px 0px 0px 2px;
    color: $color-dark-l;
    width: 25rem;
    display: flex;
    align-items: center;
    text-align: center;

    @media (max-width: 1279px) {
      margin: 80px 0px 0px 0px;
    }

    @media (max-width: 767px) {
      margin-top: 42px;
      padding-left: 8px;
      width: 300px;
      text-align: center;
    }
  }
  .pets__pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pets__pagination-box_show {
    position: relative;
    overflow: hidden;
    width: 1200px;
    height: 930px;
    margin-top: 30px;

    @media (max-width: 1279px) {
      height: 1365px;
      width: 662px;
      margin-top: 30px;
      overflow: hidden;
    }

    @media (max-width: 767px) {
      margin-top: 42px;
      width: 300px;
      text-align: center;
    }
  }

  .pets__pagination-box {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1279px) {
      width: 662px;
      justify-content: space-evenly;
    }
    @media (max-width: 767px) {
      width: 300px;
    }

    &_card {
      margin-top: 30px;

      @media (max-width: 1279px) {
        margin: 0px 0px 30px 0px;
      }
    }
  }

  &__button {
    margin-top: 3.75rem;
    margin-bottom: 6.25rem;
    margin-left: 1px;
    width: 16.3125rem;
  }

  &__pagination-controls {
    margin: 60px 0px 100px 0px;
    width: 340px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1279px) {
      margin: 40px 0px 76px 0px;
    }
    @media (max-width: 767px) {
      width: 300px;
      margin: 42px 0px 43px 0px;
    }

    &_long-prev {
      display: flex;
      align-items: center;
    }
    &_prev {
      display: flex;
      align-items: center;
    }
    &_number button {
      font-family: Georgia;
      font-style: normal;
      font-weight: normal;
    }
    &_next {
      display: flex;
      align-items: center;
    }
    &_long-next {
      display: flex;
      align-items: center;
    }
  }
}
