.pets {
  background-color: $color-light-l;
  padding-top: 120px;

  .pets__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 1279px) {
    padding: 0 30px;
    padding-top: 120px;
  }

  @media (max-width: 767px) {
    padding: 0 10px;
    padding-top: 120px;
  }

  .pets__heading {
    margin: 80px 0px 0px 2px;
    color: $color-dark-l;
    width: 25rem;
    display: flex;
    align-items: center;
    text-align: center;

    @media (max-width: 1279px) {
      margin: 80px 0px 0px 0px;
    }

    @media (max-width: 767px) {
      margin-top: 42px;
      padding-left: 8px;
      width: 300px;
      text-align: center;
    }
  }

  .pets__slider {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: hidden;

    @media (max-width: 1279px) {
      height: 1365px;
      width: 662px;
      margin-top: 0px;
      overflow: hidden;
      justify-content: space-evenly;
    }
    @media (max-width: 767px) {
      height: 1365px;
      width: 320px;
      margin-top: 12px;
      overflow: hidden;
      justify-content: space-evenly;
    }
  }

  .pets__slider_card {
    margin-top: 30px;

    @media (max-width: 1279px) {
      margin: 0px 0px 30px 0px;
    }
  }

  .pets__button {
    margin-top: 3.75rem;
    margin-bottom: 6.25rem;
    margin-left: 1px;
    width: 16.3125rem;
  }

  .pets__slider-controls {
    margin: 60px 0px 100px 0px;
    width: 340px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1279px) {
      margin: 70px 0px 76px 0px;
    }
    @media (max-width: 767px) {
      width: 300px;
      margin: 72px 0px 43px 0px;
    }

    .pets__slider_long-prev {
      display: flex;
      align-items: center;
    }
    .pets__slider_prev {
      display: flex;
      align-items: center;
    }
    .pets__slider_number button {
      font-family: Georgia;
      font-style: normal;
      font-weight: normal;
    }
    .pets__slider_next {
      display: flex;
      align-items: center;
    }
    .pets__slider_long-next {
      display: flex;
      align-items: center;
    }
  }
}
