.instruction {
  display: flex;
  align-items: flex-end;

  &__content {
    display: flex;
    width: 268px;

    @media (max-width: 415px) {
      width: 168px;
    }
  }

  &__icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
  }
}
