.pets {
  background-color: $color-light-l;

  .pets__wrapper {
    height: 877px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;

    @media (max-width: 1279px) {
      padding: 0 30px;
    }

    @media (max-width: 767px) {
      padding: 0 10px;
      height: 791px;
    }
  }

  .pets__heading {
    margin: 80px 0px 0px 3px;
    color: $color-dark-l;
    width: 25rem;
    display: flex;
    align-items: center;
    text-align: center;

    @media (max-width: 767px) {
      width: 286px;
      margin: 42px 0px 0px 0px;
      align-self: center;
    }
  }

  .pets__slider {
    margin-top: 3.71rem;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1279px) {
      justify-content: space-between;
      width: 708px;
    }

    @media (max-width: 767px) {
      margin-top: 42px;
      width: 300px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .pets__slider_card {
      margin: 0px 45px;

      @media (max-width: 1279px) {
        margin: 0px 20px;
      }

      @media (max-width: 767px) {
        margin: 0px 25px;
      }
    }

    .pets__slider_card:first {
      margin-right: 0px;

      @media (max-width: 1279px) {
        margin-right: 0px;
      }

      @media (max-width: 767px) {
        margin-right: 0px;
      }
    }

    .pets__slider_prev {
      display: flex;
      align-items: center;
      margin-right: 8px;

      @media (max-width: 1279px) {
        margin-right: 0px;
      }

      @media (max-width: 767px) {
        margin: 20px 4px 0 0;
      }
    }

    .pets__slider_next {
      display: flex;
      align-items: center;
      margin-left: 8px;

      .button_arrow>img {
        transform: rotate(-180deg);
      }

      @media (max-width: 1279px) {
        margin-left: 0px;
      }

      @media (max-width: 767px) {
        margin: 20px 0 0 4px;
      }
    }
  }

  .pets__button {
    margin-top: 3.75rem;
    margin-bottom: 6.25rem;
    margin-left: 1px;
    width: 16.3125rem;

    @media (max-width: 767px) {
      margin-top: 42px;
      margin-bottom: 42px;
      margin-left: 0px;
      width: 16.3125rem;
    }
  }
}