.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 270px;
  height: 453px;
  background: $color-light-s;
  border-radius: 9px;

  .card_image {
    width: 16.875rem;
  }

  .card_name {
    margin-top: 1.875rem;
    margin-left: 2px;
    color: $color-dark-l;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.44rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
  }

  .card_name:first-letter {
    text-transform: uppercase;
  }

  .card_button {
    margin-top: 1.88rem;

    .button_secondary {
      width: 187px;
    }
  }
}

.card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
}

.card-modal-content {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.card-modal-img {
  width: 500px;
  height: 500px;

  @media (max-width: 1279px) {
    width: 350px;
    height: 350px;
  }
  @media (max-width: 767px) {
    display: none;
  }
}

.card-modal-info {
  width: 260px;
}

.info-title {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.info-subtitle {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.info-paragraph {
}

.info-list {
  li {
    color: red; /* Цвет маркеров */
  }
  li span {
    color: navy; /* Цвет текста */
  }
}
