.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-overlay;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  border-radius: 9px;
  background-color: $color-modal;
  width: 630px;
  height: 350px;
  overflow: auto;
  overflow: hidden;
}

.modal__close-icon {
  position: absolute;
  top: 30px;
  right: 26px;
  cursor: pointer;
  // pointer-events: none;
}
