.about {
  .wrapper__about {
    width: 100%;
    height: 588px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1279px) {
      flex-direction: column-reverse;
      justify-content: space-evenly;
      height: 1048px;
    }
    @media (max-width: 767px) {
      height: 975px;
    }
  }

  @media (max-width: 1279px) {
    align-self: center;
  }

  .about__pets {
    width: 420px;
    height: 428px;

    @media (max-width: 1279px) {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        padding-bottom: 50px;
      }
    }

    @media (max-width: 767px) {
      width: 260px;
      height: 353.6px;

      img {
        width: 260px;
        height: 353.6px;
        padding-bottom: 0;
      }
    }
  }

  .about__content {
    width: 430px;
    height: 430px;

    @media (max-width: 767px) {
      width: 300px;
      height: 494px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .about__content_heading {
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
    color: $color-dark-l;
    width: 23.13rem;
    align-self: center;

    @media (max-width: 767px) {
      width: 250px;
      margin-bottom: 1.5625rem;
      text-align: center;
    }
  }

  .about__content_subheading {
    width: 26.875rem;
    margin-bottom: 1.56rem;

    @media (max-width: 767px) {
      width: 270px;
      margin-bottom: 1.375rem;
      text-align: justify;
    }
  }
}
