.header {
  width: 100%;
  position: absolute;
  top: 60px;

  @media (max-width: 1279px) {
    top: 30px;
  }

  .header_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;

    @media (max-width: 1279px) {
      padding: 0 30px;
    }

    @media (max-width: 767px) {
      padding: 0 10px;
    }
  }

  .header__logo {
    display: flex;
    flex-direction: column;


    .header__logo-title {
      color: $color-primary;
      font-family: Georgia;
      font-size: 2rem;
      letter-spacing: 0.12rem;
      line-height: 110%;
    }

    .header__logo-subtitle {
      margin-top: 10px;
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 0.8125rem;
      line-height: 110%;
      letter-spacing: 0.085rem;
      color: $color-light-x1;
      text-align: end;
    }
  }

  .header__menu {
    align-self: center;

    @media (max-width: 767px) {
      width: 30px;
      margin-right: 45px;
      align-self: flex-end;
    }

    &__container {
      width: 27.68rem;
      display: flex;
      flex-direction: column;

      .navigation {
        display: flex;
        justify-content: space-between;
        width: 100%;
        list-style-type: none;
      }

      .navigation__item {
        color: $color-dark-s;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 0.94rem;
        line-height: 160%;
      }

      .active {
        color: $color-light-s;
        border-bottom: solid 3px $color-primary;
      }

      @media (max-width: 767px) {
        display: none;
      }
    }
  }
}