.start-screen {
  padding-top: 180px;
  background: url(/assets/images/noise_transparent.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;

  @media (max-width: 1279px) {
    padding-top: 150px;
  }

  .wrapper__start_screen {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;

    @media (max-width: 1279px) {
      padding: 0 30px;
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 767px) {
      padding: 0 10px;
    }
  }

  .start-screen__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 80px;

    @media (max-width: 767px) {
      display: flex;
      align-items: center;
      text-align: center;
    }

    .start-screen__content_heading {
      color: $color-light-x1;
      max-width: 19.375rem;
      margin-bottom: 41px;
      @media (max-width: 767px) {
        width: 200px;
      }
    }

    .start-screen__content_subheading {
      color: $color-dark-s;
      max-width: 28.75rem;
      margin-bottom: 41px;
    }

    .start-screen__content_button {
      @media (max-width: 1279px) {
        align-self: center;
        margin-top: 2px;
      }
    }
  }

  .start-screen__puppy {
    display: flex;

    @media (max-width: 1279px) {
      margin-top: 20px;
      align-self: flex-end;

      img {
        width: 569px;
        height: 593px;
      }
    }

    @media (max-width: 767px) {
      margin-top: 25px;
      align-self: flex-end;

      img {
        width: 260px;
        height: 271.17px;
      }
    }
  }
}
